.container {
  max-width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 3rem 0;
}
nav {
  background-color: #7e4d9e;
  color: #fff;
}
body {
  background: linear-gradient(#ffa4ae, #7e4d9e);
}
h1 {
  padding: 0 1em;
  text-align: center;
  font-family: "DynaPuff", cursive;
  font-weight: 200;
  font-size: 2rem;
  color: #7e4d9e;
}
h2 {
  padding: 0 1em;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4rem;
}
hr {
  border-top: 3px dotted #ffa4ae;
  margin: 1em;
}
p {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.2em;
}
img {
  display: block;
  margin: 0 auto;
}
.headerLogo {
  max-width: 80%;
  max-height: 65px;
  margin: 20px 0px, 20px, 0px;
}
.featureImage {
  border-radius: 3em;
  max-width: 40%;
}
.weatherAppContainer {
  max-width: 90%;
  margin: 0 auto;
  padding-block: 20px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
}
.city-search-form {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: none;
  padding: 10px;
}

.current-temp {
  font-size: 24px;
}
.weather-img {
  background-color: #ffa4ae;
  height: 100px;
  margin: 10px 0px;
}

.skating-weather-text {
  text-align: center;
  padding: 10px;
}

.weather-icon {
  font-size: 40px;
}
.weather-icon-sm {
  font-size: 24px;
  padding: 8px;
}

.border {
  border: var(--bs-border-width) var(--bs-border-style) #ffa4ae !important;
}
button {
  margin: 0 auto;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  background: #ffa4ae;
  color: black;
  border: none;
  border-radius: 0.25rem;
  padding: 4px 10px;
  transition: all 200ms ease-in-out;
}
button:hover {
  cursor: pointer;
  color: white;
  background: #7e4d9e;
  box-shadow: inset 2px 2px black;
}
.latestTrends {
  font-family: "DynaPuff", cursive;
  font-size: 0.9rem;
}
.logoText {
  font-family: "DynaPuff", cursive;
  font-size: 0.9rem;
  font-weight: 500;
}
.footer {
  text-align: center;
}
.footerLogo {
  display: block;
  margin: 10px auto;
  max-height: 2em;
}
.hyperLink {
  color: #7e4d9e;
  text-decoration: none;
}
.hyperLink:hover {
  color: #7e4d9e;
  text-decoration: underline;
}
